<!-- Page Content -->
<div class="container">
    
        <div class="row">
            <div id="blankHeight"style="height:200px;"></div>
            <div id="columnchart_values" ><img src="\img\loading.gif" id="loader_image"  /></div>

        </div>
   
    </div><!-- /.container -->

<script>

    (function () {

       
		var dbRef = new Firebase("https://ustdb.firebaseio.com/employeeList");
		 var data = null;
		 var chart = null;
		 var isChartInit = false;
          
            setTimeout(function () {
                $("#loader_image").hide();
                $("#largeImg").show();
                $("#blankHeight").css('height','80px');
                google.charts.load("current", { packages: ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);
            }, 10000
   );
            function drawChart() {
                data = new google.visualization.DataTable();
                chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                data.addColumn('string', 'Name'); // Implicit domain label col.
                data.addColumn('number', 'Vote %'); // Implicit series 1 data col.
                data.addColumn({ type: 'string', role: 'style' })


                dbRef.on("value", function (snapshot) {                   
                    var employeedata = [];
                    var temp = JSON.stringify(snapshot.val());
                    var temp1 = jQuery.parseJSON(temp);
                    var emptotalVote = 0;
                    if (isChartInit == false)
                    {
                        isChartInit = true;
                        for (var i = 0; i < temp1.length; i++) {
                            emptotalVote = emptotalVote + temp1[i].totalVote;
                        }
                        console.log(emptotalVote);
                        for (var i = 0; i < temp1.length; i++) {
                            console.log(temp1[i].totalVote);
                            employeedata.push([temp1[i].empName, (temp1[i].totalVote / emptotalVote) * 100, temp1[i].empColor])
                        }
                        data.addRows(employeedata);
                        var view = new google.visualization.DataView(data);
                        var options = {
                            title: "USsociate of Year 2016",
                            width: 1000,
                            height: 600,
                            bar: { groupWidth: "95%" },
                            legend: { position: "none" },
                            animation: {
                                duration: 4000,
                                easing: 'in',
                                startup: true
                            },
                            vAxis: {
                                viewWindowMode: 'explicit',
                                viewWindow: {
                                    //max: 100,
                                    //min: 0
                                }
                                , format: '#\'%\''
                            }
                        };
                       
                        chart.draw(view, options);                       
                    }
                }, function (errorObject) {
                    console.log("The read failed: " + errorObject.code);
                });
               
                 
            }
           
        })();
</script>
