

<div class="section">
    <div class="container">
        <div class="row">
            <br /><br /><br />
            <div class="col-lg-4 col-md-6">

                <h3>
                    App Login Users-:
                    {{
                        AppCount
                    }}
                </h3>


                <h3>
                    Lucky Draw Registered Users-:
                    {{
                        fdCount
                    }}
                </h3>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->
<div class="section">
    <div class="container">
        <div class="row">
         
            <div class="col-lg-4 col-md-6">
                <form>
                    
                    <div class="form-group">
                        <label for="pwd">UID:</label>
                        <input type="text" class="form-control" id="UID" ng-model="UID" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Name:</label>
                        <input type="text" class="form-control" ng-model="Name" id="email" required>
                    </div>
                    
                    <button type="submit" class="btn btn-default" ng-click="RegisterButton()">Register For FD</button>
                </form>
            </div>
            <div class="col-lg-8 col-md-6">
                <div ng-controller="MainCtrl">
                   
                    <div id="grid1" ui-grid="gridOptions" class="grid"></div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    
    <!-- /.container -->
</div>
<!-- /.section -->
