<div style="height:70px"></div>
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h3>Vote System</h3>
                
            </div>
            
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <form>
                    <div class="form-group">
                        <label for="email">Kindly Enter Valid UID(eg-: UXXXXX) :</label>
                        <input type="text" ng-model="userEmailId" ng-value="userEmailId" required class="form-control" id="email">
                    </div>
                    <!--  <div class="form-group">
                         <label for="pwd">UID:</label>
                         <input type="radio" name="Employee A" value="Employee A" />
                     </div>
                     <button type="submit" class="btn btn-default" flot:right;>Register For FD</button>-->
                    <div class="list">
                        <div  ng-repeat="emp in Employees | filter:{isActive:'1'}">
                            <span class="input-label col col-50">
                                <br />
                               <input type="radio" ng-model="v.choice" ng-value="emp.empId"  /> {{emp.empName}}

                            </span>

                          
                        </div>
                    </div>
                    <br />
                    <br />
                    <button type="submit" class="btn btn-default" ng-click="doSaveVote(v);">Click to Vote</button>

                </form>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->
